{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Ventas{% endblock%}
{% block contenido-panel %}
{% load humanize %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Ordenes de Compras</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
						<li class="breadcrumb-item active">Ordenes de Compras</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">

				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>N° Orden.</th>
										<th>Rut Cliente</th>
										<th>Razón Social</th>
										<th>N° Huéspedes</th>
										<th class="text-center">Total</th>
										<th class="text-center">Estado</th>
										<th class="text-center">Acciones</th>
									</tr>
								</thead>
								<tbody>
										{% for oc in ordenes_compras %}
									<tr>
										<td>{{oc.9}}</td>
										<td>
											<h2 class="table-avatar">
												{{oc.1}}
											</h2>
										</td>
										<td>{{oc.2}}</td>
										<td>{{oc.3 }}</td>
										{% if oc.4 == None %}
										<td class="text-center">-</td>
										{% else %}
										<td class="text-center">${{oc.4|intcomma}}</td>
										{% endif %}
										{% if oc.6 == 1 %}
										<td class="text-center">
											<span class="badge badge-pill bg-warning inv-badge">{{oc.5}}</span>
										</td>
										{% elif oc.6 == 2%}
										<td class="text-center">
											<span class="badge badge-pill bg-success inv-badge">{{oc.5}}</span>
										</td>
										{% elif oc.6 == 3%}
										<td class="text-center">
											<span class="badge badge-pill bg-danger inv-badge">{{oc.5}}</span>
										</td>
										{% endif %}
										<td class="text-center">
											<div class="actions">
												<a class="btn btn2 btn-sm bg-primary" data-toggle="modal"
													href="#Add_Specialities_details{{oc.9}}" >
													<i class="fa fa-eye"></i> Ver
												</a>
												{% if oc.6 != 2%}
												<a class="btn btn2 btn-sm bg-success" data-toggle="tooltip"
													href="#"  title="Facturar Orden de Compra" onClick="facturar({{ oc.9 }})">
													<i class="fa fa-clipboard"></i> Facturar
												</a>
												{% endif %}												
											</div>
										</td>
									</tr>
										{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->

			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->

<!-- Add Modal -->
{% for oc in ordenes_compras %}
<div class="modal fade" id="Add_Specialities_details{{oc.9}}" aria-hidden="true" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Orden de Compra N°{{oc.9}} - {{oc.5}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row form-row">
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Rut Cliente</label>
								<input type="text" class="form-control" placeholder="Rut Cliente" value="{{oc.1}}" disabled>
							</div>
						</div>
						<div class="col-12 col-sm-8">
							<div class="form-group">
								<label>Razón Social</label>
								<input type="text" class="form-control" placeholder="Razón social"  value="{{oc.2}}" disabled>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>Fecha desde</label>
								<input type="date" class="form-control"disabled value="{{oc.7|date:'Y-m-d'}}">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>Fecha Hasta</label>
								<input type="date" class="form-control" disabled value="{{oc.8|date:'Y-m-d'}}">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>N° de Huéspedes</label>
								<input type="number" class="form-control" placeholder="Cantidad de Huespedes" value="{{oc.3}}" disabled>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>Monto Total (CLP)</label>
								<input type="number" class="form-control" placeholder="Monto Total" value="{{oc.4|intcomma}}" disabled>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{%endfor%}
<!-- /ADD Modal -->
{% block js %}
{% if messages %}
<div>
	{% for message in messages %}
	{% if message.tags  == 'error'%}
	<script>
		Swal.fire({
			title: "Error en Validación",
			text: "{{message}}",
			icon: "error"
		})
	</script>
	{% elif message.tags  == 'warning'%}
	<script>
		Swal.fire({
			title: "¡Atención!",
			text: "{{message}}",
			icon: "warning"
		})
	</script>	
	{% else %}
	<script>
		Swal.fire({
			title: "Gestión de Ordenes de Compra",
			text: "{{message}}",
			icon: "success"
		})
	</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}
<script>
	function facturar(id) {
		Swal.fire({
				"title": "¿Estás seguro de querer Facturar esta Orden de Compra?",
				"text": "Esta acción solo se podrá revertir Anulando la Factura",
				"icon": "question",
				"showCancelButton": true,
				"confirmButtonText": "Si, Facturar",
				"cancelButtonText": "No, Cancelar",
				"reverseButtons": true,
				"cancelButtonColor": "#d44747"
				
			})
			.then(function (result) {
				if (result.isConfirmed) {
					window.location.href = "/dashboard/facturar-oc/" + id + "/"
				}
			})
	}
</script>
{% endblock %}
{% endblock %}