{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Ventas{% endblock%}
{% block contenido-panel %}
{% load humanize %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Documentos Tributarios</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
						<li class="breadcrumb-item active">Documentos Tributarios</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">

				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>N° Doc.</th>
										<th>Tipo Doc.</th>
										<th>Doc. Ref.</th>
										<th>Rut Cliente</th>
										<th>Razón Social</th>
										<th>Fecha Emisión</th>
										<th class="text-center">Total</th>
										<th class="text-center">Estado</th>
										<th class="text-center">Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for doc in docs %}
									<tr>
										<td>{{doc.0}}</td>
										{% if doc.1 == 'FE'%}
										<td data-toggle="tooltip" title="Factura Electrónica">{{doc.1}}</td>
										{% elif doc.1 == 'NC'%}
										<td data-toggle="tooltip" title="Nota de Crédito">{{doc.1}}</td>
										{% endif %}
										{% if doc.2 != '0'%}
										<td>
											<h2 class="table-avatar" data-toggle="tooltip" title="Orden de Compra">
												{{doc.2}} (OC)
											</h2>
										</td>
										{% elif doc.9 != '0'%}
										<td>
											<h2 class="table-avatar" data-toggle="tooltip" title="Orden de Pedido">
												{{doc.9}} (OP)
											</h2>
										</td>
										{% endif %}
										<td>{{doc.3}}</td>
										<td>{{doc.4 }}</td>
										<td>{{doc.5 }}</td>
										{% if doc.6 == None %}
										<td class="text-center">-</td>
										{% else %}
										<td class="text-center">${{doc.6|intcomma}}</td>
										{% endif %}
										{% if doc.7 == 1 %}
										<td class="text-center">
											<span class="badge badge-pill bg-success inv-badge">{{doc.8}}</span>
										</td>
										{% elif doc.7 == 2%}
										<td class="text-center">
											<span class="badge badge-pill bg-danger inv-badge">{{doc.8}}</span>
										</td>
										{% endif %}
										<td class="text-center">
											<div class="actions">
												<a class="btn btn2 btn-sm bg-info" data-toggle="modal"
													href="#{{doc.0}}">
													<i class="fa fa-print"></i> imprimir
												</a>
												{% if doc.7 == 1 and doc.1 == 'FE'%}
												<a class="btn btn2 btn-sm bg-danger" data-toggle="tooltip" href="#"
													title="Anular Factura" onClick="facturar({{ doc.0 }})">
													<i class="fa fa-ban"></i> Anular
												</a>
												{% endif %}
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->

			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->

{% block js %}
{% if messages %}
<div>
	{% for message in messages %}
	{% if message.tags  == 'error'%}
	<script>
		Swal.fire({
			title: "Error en Validación",
			text: "{{message}}",
			icon: "error"
		})
	</script>
	{% elif message.tags  == 'warning'%}
	<script>
		Swal.fire({
			title: "¡Atención!",
			text: "{{message}}",
			icon: "warning"
		})
	</script>
	{% else %}
	<script>
		Swal.fire({
			title: "Gestión de Productos",
			text: "{{message}}",
			icon: "success"
		})
	</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}
<script>
	function facturar(id) {
		Swal.fire({
				"title": "¿Estás seguro de querer Anular esta Factura?",
				"text": "Esta acción No se puede Revertir",
				"icon": "question",
				"showCancelButton": true,
				"confirmButtonText": "Si, Anular",
				"cancelButtonText": "No, Cancelar",
				"reverseButtons": true,
				"confirmButtonColor": "#d44747"

			})
			.then(function (result) {
				if (result.isConfirmed) {
					window.location.href = "/dashboard/notacredito/" + id + "/"
				}
			})
	}
</script>
{% endblock %}
{% endblock %}