{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Editar Plato{% endblock%}
{% block css-adm %}

{% endblock %}
{% block contenido-panel %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title"><i class="fa fa-edit"></i> Editar Plato</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
						<li class="breadcrumb-item active">Editar Plato</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-12">
				<!-- General -->
				<div class="card">
					<div class="row">
						<div class="col-xl-12 col-md-12 ">
							<div class="card">
								<div class="card-header text-center">
									<hr>
									<h4 class="card-title">Información de Plato</h4>
									<hr>
									<h6 class="alert alert-info"><i class="fa fa-info-circle"></i>
										<strong>ATENCIÓN:</strong> Campos Obligatorios se identifican con <strong
											class="text-danger">*</strong></h6>
								</div>
								<div class="card-body">
									<form action="#" method="POST" id="form1" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row">
											<div class="col-xl-4 offset-xl-12">
												<label>Tipo Comedor <strong class="text-danger">*</strong></label>
												<div class="form-group">
													<select class="cb-single form-control" name="comedor">
														<option value="" selected>Seleccionar...</option>
														{% for c in comedores %}
														{% if comedor is not None and comedor.0 == c.0 %}
														<option value="{{ c.0 }}" selected>{{ c.1 }}</option>
														{% else %}
														<option value="{{ c.0 }}">{{ c.1 }}</option>
														{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="col-xl-4 offset-xl-12">
												<div class="form-group">
													<label>Nombre <strong class="text-danger">*</strong></label>
													<input type="text" class="form-control" name="nombreplato"
														value="{{plato_edit.1}}" placeholder="Ingrese Nombre de Plato">
												</div>
											</div>

											<div class="col-xl-4 offset-xl-12">
												<div class="form-group">
													<label>Estado <strong class="text-danger">*</strong></label>
													<select name="estado" id="" class="cb-single form-control">
														{% if plato_edit.6 == '1' %}
														<option value="1" selected>Activo</option>
														<option value="0">Inactivo</option>
														{% else %}
														<option value="1">Activo</option>
														<option value="0" selected>Inactivo</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xl-4 offset-lg-12">
												<div class="form-group">
													<label>Fecha Inicio <strong class="text-danger">*</strong></label>
													<input type="date" class="form-control" name="fdesde"
														 value="{{fI}}">
												</div>
											</div>
											<div class="col-xl-4 offset-lg-12">
												<div class="form-group">
													<label>Fecha Termino <strong class="text-danger">*</strong></label>
													<input type="date" class="form-control" name="fhasta"
														min="{% now  'Y-m-d'%}" value="{{fT}}">
												</div>
											</div>
											<div class="col-xl-4 offset-lg-12">
												<div class="form-group">
													<label>Imagen</label>
													<input class="form-control" type="file" name="imagen">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-4">
												<div class="form-group mb-0">
													<a class="btn btn2 btn-danger btn-block text-center"
														href="{% url 'platos-list' %}"><i class="fa fa-reply"></i> Volver</a>
												</div>
											</div>
											&nbsp;
											<div class="col-md-4">
												<div class="form-group mb-0">
													<button class="btn btn2 btn-info btn-block text-center"
														type="submit"><i class="fa fa-edit"></i> Modificar</button>
												</div>
											</div>
										</div>
										<hr>
										{% if plato_edit.4 %}
										<p class="text-center">Imagen Actual <a class="link text-info"
												href="../../../media/imgPlatos/{{plato_edit.4}}"
												target="_blank">{{ plato_edit.4 }}</a></p>
										{% else %}
										<p class="text-center">Imagen Actual: <strong class="text-danger"> No Posee
												Imagen</strong></p>
										{% endif %}
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- /General -->
				</div>
			</div>
			<br>
		</div>
	</div>
	<!-- /Page Wrapper -->

	{% block js %}
	<script>
		$(document).ready(function () {
			$('.cb-single').select2();
		});
	</script>
{% if messages %}
<div>
	{% for message in messages %}
	{% if message.tags  == 'error'%}
	<script>
		Swal.fire({
			title: "Error en Validación",
			text: "{{message}}",
			icon: "error",
			timer: 5000,
			timerProgressBar: true
		})
	</script>
	{% else %}
	<script>
		Swal.fire({
			title: "Gestión de Platos",
			text: "{{message}}",
			icon: "success",
			timer: 5000,
			timerProgressBar: true
		})
	</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
	<script src="{% static 'appADM/assets/js/traslate.js' %}"></script>
	<script src="{% static 'appADM/assets/js/valida-plato.js' %}"></script>
	{% endblock %}
	{% endblock %}