{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Revisar Orden de Pedido{% endblock%}
{% block contenido-panel %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title"><i class="fa fa-check-square-o"></i> Recepción Orden de Pedido N° {{ orden_pedido.0 }}</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
						<li class="breadcrumb-item"><a href="{% url 'ordenes-pedidos-list' %}">Ordenes de Pedido</a>
						</li>
						<li class="breadcrumb-item active">Recepción de Orden de Pedido</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-12">
				<!-- General -->
				<div class="card">
					<div class="row">
						<div class="col-xl-12 col-md-12 ">
							<div class="card">
								<div class="card-header text-center">
									<hr>
									<h4 class="card-title">Información de Orden de Pedido</h4>
									<hr>
									<h6 class="alert alert-info"><i class="fa fa-info-circle"></i>
										<strong>ATENCIÓN:</strong> Campos Obligatorios se identifican con <strong
											class="text-danger">*</strong></h6>
									<hr>
								</div>
								<div class="card-body">
									<form action="#" method="POST" id="myForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-xl-3 offset-xl-12">
												<div class="form-group">
													<label>N° de Pedido <strong class="text-danger">*</strong></label>
													<input type="text" class="form-control" name="precio" min="1"
														placeholder="Código de Producto" disabled value="{{ orden_pedido.0 }}">
												</div>
											</div>
											<div class="col-xl-3 offset-xl-12">
												<div class="form-group">
													<label>Estado <strong class="text-danger">*</strong></label>
													<input type="text" class="form-control" name="precio" disabled
														value="{{ orden_pedido.1|title }}">
												</div>
											</div>
											<div class="col-xl-3 offset-xl-12">
												<div class="form-group">
													<label>Emitida Por <strong class="text-danger">*</strong></label>
													<input type="text" class="form-control" name="precio" disabled
														value="{{ orden_pedido.2 }}">
												</div>
											</div>
											<div class="col-xl-3 offset-xl-12">
												<div class="form-group">
													<label>Fecha Emisión <strong class="text-danger">*</strong></label>
													<input type="date" class="form-control" name=""
														value="{{ orden_pedido.3|date:"Y-m-d" }}" disabled>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xl-4 offset-lg-12">
												<div class="form-group">
													<label>Rut Proveedor <strong class="text-danger">*</strong></label>
													<input type="text" class="form-control" name="precio" disabled
														placeholder="Rut de Proveedor" value="{{ orden_pedido.4 }}">
												</div>
											</div>
											<div class="col-xl-8 offset-lg-12">
												<div class="form-group">
													<label>Nombre de Proveedor <strong
															class="text-danger">*</strong></label>
													<input type="text" class="form-control" name="precio"
														placeholder="Nombre del Proveedor" value="{{ orden_pedido.5 }}" disabled>
												</div>
											</div>
										</div>
										<hr>
										<h6 class="text-center"><strong>DETALLE DE PEDIDO</strong></h6>
										<div class="ms-wizard-step">
											<div class="form-row">
												<div class="col-md-12">
													<div class="table-wrapper-scroll-y my-custom-scrollbar">
														<table class="table table-bordered table-striped mb-0">
															<thead>
																<tr>
																	<th class="text-center">
																		<h6>#</h6>
																	</th>
																	<th class="text-center">
																		<h6>Código</h6>
																	</th>
																	<th class="text-center">
																		<h6>Nombre Producto</h6>
																	</th>
																	<th class="text-center">
																		<h6>Cant. Solicitada</h6>
																	</th>
																	<th class="text-center">¿Cumple? <strong
																			class="text-danger">*</strong></label></th>
																</tr>
															</thead>
															<tbody>
																{% for detalle in detalle_pedido %}
																<tr>
																	<td class="text-center"><a>1</a></td>
																	<td class="text-center"><a>{{ detalle.0 }}</a></td>
																	<td class="text-center">
																		<h2>{{ detalle.1 }}</h2>
																	</td>
																	<td class="text-center">
																		<h2>{{ detalle.2 }}</h2>
																	</td>
																	<td class="text-center">
																		<h2><input class="text-center" type="checkbox"
																				name="chk" id="" style="width: 100px;">
																			<input hidden name="detall-id" value="{{ detalle.3 }}">
																		</h2>
																	</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-xl-12 offset-lg-12">
													<div class="form-group">
														<label>Observación</label>
														<textarea class="form-control" name="observacion" id="obs"
															cols="30" rows="2"></textarea>
													</div>
												</div>
											</div>
										</div>

										<hr>
										<div class="row">
											<div class="col-md-3"></div>
											<div class="col-md-2">
												<div class="form-group mb-0">
													<a class="btn btn2 btn-danger btn-block text-center"
														href="{% url 'ordenes-pedidos-list' %}"><i
															class="fa fa-reply"></i> Volver</a>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group mb-0">
													<div class="form-group mb-0">
														<button class="btn btn2 btn-danger btn-block text-center" name="btn-rechazar" id="btn-submit" type="submit"><i
																class="fa fa-ban"></i> Rechazar</button>
														{% comment %} <input type="button" class="btn btn2 btn-danger btn-block text-center" id="btn-submit" name="btn-rechazar" value=" Rechazar" /> {% endcomment %}
													</div>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group mb-0">
													<div class="form-group mb-0">
														<button class="btn btn2 btn-info btn-block text-center" name="btn-recepcionar" id="btn-submit-recep" type="submit"><i 
																class="fa fa-save"></i> Recepcionar</button>
														{% comment %} <input type="button" class="btn btn2 btn-info btn-block text-center" id="btn-submit-recep" name="btn-recepcionar" value=" Recepcionar" /> {% endcomment %}
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- /General -->
				</div>
			</div>
			<br>
		</div>
	</div>
	<!-- /Page Wrapper -->

	{% block js %}
	<script>
		$(document).on('click', '#btn-submit-recep', function (e) {
			e.preventDefault();
			let formulario = document.getElementById('myForm');
			let elementos = formulario.elements.length;
			let observaciones = $('#obs').val();
			
			let total_checkeados = 0;

			for(let i = 0; i < elementos; i++) {
				if((formulario.elements[i].type=="checkbox") && (formulario.elements[i].checked)) { 
					total_checkeados++;
				}
			}

			if ( total_checkeados < {{ n_detalles }} ) {
				Swal.fire({
					"title": "¿Recepcionar sin cumplir?",
					"text": "No estan todos los productos seleccionados ¿Desea continuar?",
					"icon": "question",
					"showCancelButton": true,
					"confirmButtonText": "Si, Recepcionar",
					"cancelButtonText": "No, Cancelar",
					"reverseButtons": true,
					"confirmButtonColor": "#d44747"
	
				}).then(function (result) {
					if (result.isConfirmed) {
						$('#myForm').submit();
					}
					return false;
				});
			}
			else {
				$('#myForm').submit();
			}
		});
	</script>
	<script>
		$(document).on('click', '#btn-submit', function (e) {
			e.preventDefault();
			Swal.fire({
				"title": "¿Estás seguro de esta acción?",
				"text": "Una vez Rechazado NO se puede Revertir",
				"icon": "question",
				"showCancelButton": true,
				"confirmButtonText": "Si, Rechazar",
				"cancelButtonText": "No, Cancelar",
				"reverseButtons": true,
				"confirmButtonColor": "#d44747"
	
			}).then(function (result) {
				if (result.isConfirmed) {
					//$('#myForm').submit();
					window.location.href = "/dashboard/rechazar-orden-pedido/" + {{ orden_pedido.0 }} + "/"
				}
				return false;
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('.cb-single').select2();
		});
	</script>
	{% endblock %}
	{% endblock %}