{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Ordenes de Pedidos{% endblock%}
{% block contenido-panel %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Ordenes de Pedidos</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
						<li class="breadcrumb-item active">Ordenes de Pedidos</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">

				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>N° Pedido</th>										
										<th>Nombre Proveedor</th>
										<th>Fec. Emisión</th>
										<th>Fec. Recepción</th>
										<th>Total Prod.</th>
										<th class="text-center">Estado</th>
										<th class="text-center">Obs. Recepción</th>
										<th class="text-center">Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for pedido in pedidos %}
									<tr>
										<td><a href="#">{{ pedido.0 }}</a></td>										
										<td>
											<h2 class="table-avatar">
												<a href="#">{{ pedido.1 }}</a>
											</h2>
										</td>
										<td>{{ pedido.2 }}</td>
										<td>{% if pedido.3 is None %}-{% else %}{{ pedido.3 }}{% endif %}</td>
										<td>{{ pedido.4 }}</td>
										<td class="text-center">
											{% if pedido.5 == 'ENVIADA' %}
											<span class="badge badge-pill bg-success inv-badge">Enviada</span>
											{% elif pedido.5 == 'ANULADA' %}
											<span class="badge badge-pill bg-danger inv-badge">Anulada</span>
											{% elif pedido.5 == 'PENDIENTE RECEPCION' %}
											<span class="badge badge-pill bg-success inv-badge">Pendiente recepción</span>
											{% elif pedido.5 == 'RECHAZADO' %}
											<span class="badge badge-pill bg-danger inv-badge">Rechazado</span>
											{% elif pedido.5 == 'RECEPCIONADO' %}
											<span class="badge badge-pill bg-success inv-badge">Recepcionado</span>
											{% endif %}
										</td>
										<td class="text-center">{% if pedido.6 is None %}-{% else %}{{ pedido.6 }}{% endif %}</td>
										<td class="text-center">
											<div class="actions">
												{% if pedido.5 == 'ENVIADA' %}
												<a title="Editar Pedido" data-toggle="tooltip"
													class="btn btn-sm bg-primary-light"
													href="{% url 'edit-orden-pedido' pedido.0 %}">
													<i class="fa fa-edit"></i> Editar
												</a>
												<a title="Imprimir Pedido" data-toggle="tooltip"
													class="btn btn2 btn-sm bg-primary" href="#">
													<i class="fa fa-print"></i> Imprimir
												</a>
												<a title="Anular Pedido" data-toggle="tooltip"
													class="btn btn-sm bg-danger-light" href="#" onClick="anular({{ pedido.0 }})">
													<i class="fa fa-ban"></i> Anular
												<a/>
												{% elif pedido.5 == 'ANULADA' %}
												<a title="Imprimir Pedido" data-toggle="tooltip"
													class="btn btn2 btn-sm bg-primary" href="#">
													<i class="fa fa-print"></i> Imprimir
												</a>
												{% elif pedido.5 == 'PENDIENTE RECEPCION' %}
												<a title="Editar Pedido" data-toggle="tooltip"
													class="btn btn-sm bg-primary-light"
													href="{% url 'edit-orden-pedido' pedido.0 %}">
													<i class="fa fa-edit"></i> Editar
												</a>
												<a title="Recepcionar Pedido" data-toggle="tooltip"
													class="btn btn2 btn-sm bg-success-light"
													href="{% url 'check-orden-pedido' pedido.0 %}">
													<i class="fa fa-clipboard"></i> Recepcionar
												</a>
												{% elif pedido.5 == 'RECHAZADO' %}
												<a title="Imprimir Pedido" data-toggle="tooltip"
													class="btn btn2 btn-sm bg-primary" href="#">
													<i class="fa fa-print"></i> Imprimir
												</a>
												{% elif pedido.5 == 'RECEPCIONADO' %}
												<a title="Imprimir Pedido" data-toggle="tooltip"
													class="btn btn2 btn-sm bg-primary" href="#">
													<i class="fa fa-print"></i> Imprimir
												</a>
												{% endif %}
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->

			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->
{% block js %}
{% if messages %}
<div>
	{% for message in messages %}
	{% if message.tags  == 'error'%}
	<script>
		Swal.fire({
			title: "Error en Validación",
			text: "{{message}}",
			icon: "error"
		})
	</script>
	{% elif message.tags  == 'warning'%}
	<script>
		Swal.fire({
			title: "¡Atención!",
			text: "{{message}}",
			icon: "warning"
		})
	</script>	
	{% else %}
	<script>
		Swal.fire({
			title: "Gestión de Ordenes de Pedido",
			text: "{{message}}",
			icon: "success"
		})
	</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}
<script>
	function recepcionar(id) {
		Swal.fire({
				"title": "¿Estás seguro de esta acción?",
				"text": "Esta acción no se puede deshacer",
				"icon": "question",
				"showCancelButton": true,
				"confirmButtonText": "Si, Recepcionar",
				"cancelButtonText": "No, Cancelar",
				"reverseButtons": true,
				"confirmButtonColor": "#d44747"
			})
			.then(function (result) {
				if (result.isConfirmed) {
					window.location.href = "/dashboard/check-orden-pedido/" + id + "/"
				}
			})
	}

	function anular(id) {
		Swal.fire({
				"title": "¿Estás seguro de esta acción?",
				"text": "Esta acción no se puede deshacer",
				"icon": "question",
				"showCancelButton": true,
				"confirmButtonText": "Si, Anular",
				"cancelButtonText": "No, Cancelar",
				"reverseButtons": true,
				"confirmButtonColor": "#d44747"
			})
			.then(function (result) {
				if (result.isConfirmed) {
					window.location.href = "/dashboard/anular-orden-pedido/" + id + "/"
				}
			})
	}
</script>
{% endblock %}
{% endblock %}