<!DOCTYPE html>
<html lang="es">
{% load humanize %}

<head>
	<meta charset="UTF-8">
	<title>ORDEN DE PEDIDO N° {{orden_pedido_db.0}} - Hostal Doña Clarita</title>
	{% load static %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'appADM/assets/img/favicondc.PNG' %}" media="all">
	<!-- Main CSS -->

	<link rel="stylesheet" href="{% static 'appADM/assets/css/factura.css' %}">
</head>

<body>
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">
			<div class="row">
				<div class="col-md-12 ">
					<div class="card">

						<!--Imagen de anulado solo estado anulado -->
						{% if orden_pedido_db.1 == 'ANULADA'%}
						<img class="anulada" src="{% static 'appADM/assets/img/anulado.png' %}" alt="Anulada"
							width="350">
						{%elif orden_pedido_db.1 == 'RECHAZA PROVEEDOR' or orden_pedido_db.1 == 'RECHAZADO'%}
						<img class="anulada" src="{% static 'appADM/assets/img/rechazada.png' %}" alt="Rechazado">
						{% endif %}
						<div id="page_pdf">
							<table id="factura_head">
								<tr>
									<td class="info_factura">
										<div class="round">
											<span class="h3">ORDEN DE PEDIDO</span>
											<hr>
											<h5 class="text-center"><strong>N° {{orden_pedido_db.0}}</strong></h5>
											<h6 class="text-center"><strong>ESTADO PEDIDO:
												{%if orden_pedido_db.1 == "ENVIADA" and user.is_proveedor %}
												PENDIENTE
												{% elif orden_pedido_db.1 == "RECHAZADO" and user.is_proveedor  %}
												RECHAZA CLIENTE
												{% else %}
												{{orden_pedido_db.1}}</strong>
												{% endif %}</h6>
										</div>
									</td>
									<td class="info_empresa">
										<br>
										<div>
											<span class="h2"><strong>{{datos_empresa.0}}</strong></span>
											<p>{{datos_empresa.1}}, </p>
											<p> {{datos_empresa.2}}, {{datos_empresa.3}} - Chile</p>
											{% if datos_empresa.4 != None%}
											<p>TELÉFONO: {{datos_empresa.4}}</p>
											{% endif%}
											<p>{{datos_empresa.5}}</p>
											<br>
										</div>
									</td>
									<td class="logo_factura">
										<div>
											<img src="{% static 'appADM/assets/img/logodcblue.png' %}" width="200">
										</div>
									</td>
								</tr>
							</table>
							<table id="factura_cliente">
								<tr>
									<td class="info_cliente">
										<div class="round">
											<span class="h3 ">Datos de Pedido</span>
											<hr>
											<table class="datos_cliente">
												<tr>
													<td><strong>Empleado Solicita:</strong>
														{{orden_pedido_db.2}}
													</td>
													<td><strong>Empresa a Solicitar:</strong>
														{{orden_pedido_db.8}}
													</td>
												</tr>
												<tr>
													<td><strong>Rut Empleado:</strong>
														{{orden_pedido_db.3|intcomma}}-{{orden_pedido_db.4}}
													</td>
													<td><strong>Rut Empresa:</strong>
														{{orden_pedido_db.6|intcomma}}-{{orden_pedido_db.7}}
													</td>
												</tr>
												<tr>
													<td><strong>Dirección Despacho:</strong>
														{{datos_empresa.1}}
													</td>
													<td><strong>Fec. Emisión:</strong>
														{{orden_pedido_db.5}}
													</td>
												<tr>
													<td><strong>Comuna:</strong>
														{{datos_empresa.2}}
													</td>
													<td><strong>Forma Pago:</strong>
														Transferencia tras Despacho
													</td>
												</tr>
												<tr>
													<td colspan="2">
														<strong>Observación:</strong> Urgente Producto Prueba 2
													</td>
												</tr>
								</tr>
							</table>
						</div>
						</td>

						</tr>
						</table>

						<table id="factura_detalle">
							<thead>
								<tr>
									<th class="textleft" width="40px">#</th>
									<th class="textleft" width="150px">Código</th>
									<th class="textleft">Descripción</th>
									<th class="textleft" width="80px">Cantidad</th>
								</tr>
							</thead>
							<tbody id="detalle_productos">
								{% for det in detatalles_op %}
								<tr>
									<td>1</td>
									<td class="textleft">{{det.0}}</td>
									<td>{{det.1}}</td>
									<td class="textleft">{{det.2}}</td>
								</tr>
								{% endfor %}
								{% for comedor in detcomedor %}
								<tr>
									<td class="textleft">{{comedor.0}}</td>
									<td>Servicio Comedor</td>
									<td>{{comedor.1}}</td>
									<td class="textleft">${{comedor.2|intcomma}}</td>
									<td class="textleft">${{comedor.3|intcomma}}</td>
								</tr>
								{% endfor %}
								{% for habitacion in habitaciones %}
								<tr>
									<td class="textcenter">{{habitacion.0}}</td>
									<td>Servicio Habitación</td>
									<td>{{habitacion.1}}</td>
									<td class="textleft">${{habitacion.2|intcomma}}</td>
									<td class="textleft">${{habitacion.3|intcomma}}</td>
								</tr>
								{% endfor %}
							</tbody>

							<tfoot id="detalle_totales">
								<tr>
									<td colspan="3" class="textright"><span>TOTAL PRODUCTOS</span></td>
									<td class="textleft"><span>{{total_op}}</span></td>
								</tr>

							</tfoot>
						</table>
					</div>
				</div>
				<br>
				<br>
			</div>
		</div>
	</div>
	</div>

	<!-- /Page Wrapper -->
	</div>

	<footer>

		<p class="nota textcenter">Si usted tiene dudas sobre el Documento</p>
		<p class="nota textcenter"> póngase en contacto con nombre, teléfono y
			correo electrónico a soporte@hostaldonaclarita.cl</p>
	</footer>
	<script>
		window.print();
		window.onmousemove = function () {
			window.close();
		}
	</script>
</body>

</html>