{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock%}
{% block contenido-panel %}
{% load humanize %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">¡Bienvenido <strong>@{{user.first_name}} {{user.last_name}}</strong>!</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Panel Administrativo</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12">
				<section class="card">
					<header class="card-heading bg-dark">
						<div class="card-heading-icon text-center">
							<i class="fa fa-info-circle btn2"></i>
						</div>
					</header>
					<div class="card-body text-center">
						<h3 class="text-semibold mt-sm text-center">Bienvenido al Sistema de Gestión de Hostal Doña Clarita</h3>
						<hr>
						{%if user.is_cliente %}
						<p class="text-center">A continuación podrás encontras distintos accesos directos que ofrecemos para ti. <br>
							Además, al costado izquierdo podrás encontrar nuestro menú con muchas mas opciones</p>
						{% else %}
						<p class="text-center">Al costado izquierdo podrás encontrar nuestro menú con Todas las opciones que ofrecemos para ti</p>
						{% endif %}
					</div>
				</section>
			</div>
	</div>
	<br>
	{%if user.is_cliente %}
		<div class="row">
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<h6 class="text-muted">Total de Trabajadores</h6>
						<hr>
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-primary border-primary">
								<i class="fa fa-users"></i>
							</span>
							<div class="dash-count">
								<h3>{{huespedes.0.0}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<hr>						
							<h6 class="text-muted text-left"><a href="{% url 'trabajador-new'%}"><i class="fa fa-arrow-right"></i> Nuevo Trabajador</a></h6>
							<h6 class="text-muted text-left"><a href="{% url 'trabajadores-list'%}"><i class="fa fa-arrow-right"></i> Cargar Trabajadores</a></h6>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<h6 class="text-muted">Total de Ordenes de Compra</h6>
						<hr>
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-warning border-warning">
								<i class="fa fa-file-text"></i>
							</span>
							<div class="dash-count">
								<h3>{{orCompras.0.0}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<hr>							
							<h6 class="text-muted text-left"><a href="{% url 'oc-new'%}"><i class="fa fa-arrow-right"></i> Nueva Orden de Compra</a></h6>
							<h6 class="text-muted text-left"><a href="{% url 'oc-list'%}"><i class="fa fa-arrow-right"></i> Mis Ordenes de Compras</a></h6>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<h6 class="text-muted">Total de Documentos</h6>
						<hr>
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-info">
								<i class="fa fa-money"></i>
							</span>
							<div class="dash-count">
								<h3>{{cant_doc}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">		
							<hr>					
							<h6 class="text-muted text-left"><a href="{% url 'facturas-cli'%}"><i class="fa fa-arrow-right"></i> Mis Documentos</a></h6>
							<br>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">					
					<div class="card-body">
						<h6 class="text-muted">Total de Gastos</h6>
					<hr>
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-success">
								<i class="fa fa-money"></i>
							</span>
							<div class="dash-count">
								<h3>${{gastos|intcomma}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<hr>							
							<h6 class="text-muted text-left">Facturas: ${{total_facturas|intcomma}}</h6>
							<h6 class="text-muted text-left">N. Créditos: ${{total_notacredito|intcomma}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% elif user.is_proveedor %}
	<div class="row">
		<div class="col-xl-4 col-12"></div>
		<a href="{% url  'ordenes-proveedor' %}">
		<div class="col-xl-4 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-warning border-warning">
							<i class="fa fa-file-text"></i>
						</span>
						<div class="dash-count">
							<h5 class="text-muted">Pendientes: {{op_pendientes}} </h5>
							<h5 class="text-muted">Totales: {{op_totales}}</h5>
						</div>
					</div>
					<div class="dash-widget-info">
						<h6 class="text-muted">Ordenes de Pedidos</h6>
						<h6 class="text-muted text-left"><a href="{% url  'ordenes-proveedor' %}"><i class="fa fa-arrow-right"></i> Ver Ordenes</a></h6>
					</div>
				</div>
			</div>
		</div>
	</a>
		<div class="col-xl-4 col-sm-6 col-12"></div>
	</div>
	{% else%}
	{%endif%}

</div>
<!-- /Page Wrapper -->

{% endblock %}
{% block js %}
<script src="{% static 'appADM/assets/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'appADM/assets/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'appADM/assets/js/chart.morris.js' %}"></script>

{% endblock %}