<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Factura</title>
	{% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'appADM/assets/img/favicondc.PNG' %}">
    <!-- Main CSS -->

	<link rel="stylesheet" href="{% static 'appADM/assets/css/factura.css' %}">
</head>

<body>
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">
			<div class="row">
				<div class="col-md-12 ">
					<div class="card">

						<!--Imagen de anulado solo estado anulado -->
						<img class="anulada" src="{% static 'appADM/assets/img/anulado.png' %}" alt="Anulada"
							width="350">
						<div id="page_pdf">
							<table id="factura_head">
								<tr>
									<td class="logo_factura">
										<div>
											<img src="{% static 'appADM/assets/img/logodcblue.png' %}" width="150">
										</div>
									</td>
									<td class="info_empresa">
										<br>
										<div>
											<span class="h2"><strong>HOSTAL DOÑA CLARITA</strong></span>
											<p>Avda. Concha y Toro 1320, </p>
											<p> Puente Alto, Santiago - Chile</p>
											<p>Teléfono: +(569) 1234 5678</p>
											<p>contacto@hostaldonaclarita.cl</p>
										</div>
									</td>
									<td class="info_factura">
										<div class="round">
											<span class="h3">FACTURA ELECTRÓNICA</span>
											<hr>
											<h5 class="text-center"><strong>N° 12345</strong></h5>
											<h6 class="text-center"><strong>RUT 73.001.232-3</strong></h6>
										</div>
									</td>
								</tr>
							</table>
							<table id="factura_cliente">
								<tr>
									<td class="info_cliente">
										<div class="round">
											<span class="h3"></span>
											<hr>
											<table class="datos_cliente">
												<tr>
													<td><strong>Señor(es):</strong>
														Nombre de La empresa y Cía Ltda
													</td>
													<td><strong>Rut:</strong>
														7854526-1
													</td>
												</tr>
												<tr>
													<td><strong>Giro:</strong>
														Comercialización de Productos
													</td>
													<td><strong>Fec. Emisión:</strong>
														24-05-2021
													</td>
												</tr>
												<tr>
													<td><strong>Dirección:</strong>
														Calle nueva 1234
													</td>
													<td><strong>Comuna:</strong>
														La Florida
													</td>
												<tr>
													<td><strong>Fec. Vencimiento:</strong>
														24-05-2021
													</td>
													<td><strong>Forma Pago:</strong>
														Efectivo
													</td>
												</tr>
								</tr>
							</table>
						</div>
						</td>

						</tr>
						</table>

						<table id="factura_detalle" >
							<thead>
								<tr>
									<th width="50px">Cant.</th>
									<th class="textleft">Descripción</th>
									<th class="textright" width="150px">Precio Unitario.</th>
									<th class="textright" width="150px"> Precio Total</th>
								</tr>
							</thead>							
							<tbody id="detalle_productos">
								<tr>
									<td class="textcenter">1</td>
									<td>Plancha</td>
									<td class="textright">516.67</td>
									<td class="textright">516.67</td>
								</tr>
								<tr>
									<td class="textcenter">1</td>
									<td>Plancha</td>
									<td class="textright">516.67</td>
									<td class="textright">516.67</td>
								</tr>
								<tr>
									<td class="textcenter">1</td>
									<td>Plancha</td>
									<td class="textright">516.67</td>
									<td class="textright">516.67</td>
								</tr>
								<tr>
									<td class="textcenter">1</td>
									<td>Plancha</td>
									<td class="textright">516.67</td>
									<td class="textright">516.67</td>
								</tr>
								<tr>
									<td class="textcenter">1</td>
									<td>Plancha</td>
									<td class="textright">516.67</td>
									<td class="textright">516.67</td>
								</tr>
								<tr>
									<td class="textcenter">1</td>
									<td>Plancha</td>
									<td class="textright">516.67</td>
									<td class="textright">516.67</td>
								</tr>
							</tbody>
							<tfoot id="detalle_totales">
								<tr>
									<td colspan="3" class="textright"><span>SUBTOTAL $.</span></td>
									<td class="textright"><span>516.67</span></td>
								</tr>
								<tr>
									<td colspan="3" class="textright"><span>IVA (19%)</span></td>
									<td class="textright"><span>516.67</span></td>
								</tr>
								<tr>
									<td colspan="3" class="textright"><span>TOTAL $.</span></td>
									<td class="textright"><span>516.67</span></td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<br>
				<br>
			</div>
		</div>
	</div>
	</div>
	<!-- /Page Wrapper -->




	</div>
	<footer>
		<p class="nota textcenter">Si usted tiene dudas sobre la Factura, póngase en contacto con nombre, teléfono y
			correo electrónico a soporte@hostaldonaclarita.cl</p>
	</footer>
	<script>
		window.print();
	</script>
</body>

</html>