{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Ordenes de Compras{% endblock%}
{% block contenido-panel %}
{% load humanize %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-7">
					<h3 class="page-title">Ordenes de Compras</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'dashboard-cli' %}">Inicio</a></li>
						<li class="breadcrumb-item active">Ordenes de Compras</li>
					</ul>
				</div>
				<div class="col-sm-5 col">
					<a href="{% url 'oc-new' %}" class="btn btn2 btn-primary float-right mt-2"><i class="fa fa-plus"></i> Nueva Orden</a>
				</div>				
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-12">
				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th class="text-center">N° Orden</th>
										<th class="text-center">N° Huéspedes</th>
										<th>Total</th>
										<th class="text-center">Estado</th>
										<th class="text-center">Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for orden_compra in ordenes_compra %}
									<tr>										
										<td class="text-center">{{ orden_compra.0 }}</td>
										<td class="text-center">{{ orden_compra.1 }}</a></td>
										<td>${% if orden_compra.2 is None %}0{% else  %}{{ orden_compra.2|intcomma }}{% endif %}</td>
										<td class="text-center">
											{% if orden_compra.3 == 'aceptada' %}
											<span class="badge badge-pill bg-primary inv-badge">Aceptada</span>
											{% elif orden_compra.3 == 'rechazada' %}
											<span class="badge badge-pill bg-danger inv-badge">Rechazada</span>
											{% elif orden_compra.3 == 'facturada' %}
											<span class="badge badge-pill bg-success inv-badge">Facturada</span>
											{% elif orden_compra.3 == 'pendiente' %}
											<span class="badge badge-pill bg-warning inv-badge">Pendiente</span>
											{% endif %}
										</td>
										<td class="text-center">
											<div class="actions">
												<a class="btn btn2 btn-sm bg-info"
												href="{% url 'oc-print' orden_compra.0 %}" target="_blank">
												<i class="fa fa-print"></i> imprimir
											</a>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->

			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->
{% block js %}
{% if messages %}
<div>
	{% for message in messages %}
	{% if message.tags  == 'error'%}
	<script>
		Swal.fire({
			title: "Error de Validación",
			text: "{{message}}",
			icon: "error",
			timer: 5000,
			timerProgressBar: true
		})
	</script>
	{% elif message.tags  == 'warning'%}
	<script>
		Swal.fire({
			title: "Atención",
			text: "{{message}}",
			icon: "warning",
			timer: 5000,
			timerProgressBar: true
		})
	</script>
	{% else %}
	<script>
		Swal.fire({
			title: "Orden de Compra N° {{nroOC.0}} Generada",
			text: "{{message}} ",
			icon: "success",
			timer: 5000,
			timerProgressBar: true
		})
		
	</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}
{% endblock %}
{% endblock %}