{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Servicios{% endblock%}
{% block contenido-panel %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-7 col-auto">
					<h3 class="page-title"><i class="fa fa-list-ol"></i> Servicios Adicionales</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
						<li class="breadcrumb-item active">Servicios Adicionales</li>
					</ul>
				</div>
				<div class="col-sm-5 col">
					<a href="{% url 'servicio-new' %}" class="btn btn2 btn-primary float-right mt-2"><i
							class="fa fa-plus"></i> Agregar Serv. Adicional</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Nombre</th>
										<th class="text-center">Precio</th>
										<th class="text-center">Muestra</th>
										<th class="text-center">Estado</th>
										<th class="text-center">Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for servicio in servicios %}
									<tr>
										<td>
											<h2 class="table-avatar">
												{% if servicio.5 %}
												<a class="avatar avatar-sm mr-2">
													<img class="avatar-img" src="../../media/servAD/{{servicio.5}}"
														alt="Imagen Plato">
												</a>
												{% else %}
												<a class="avatar avatar-sm mr-2">
													<img class="avatar-img"
														src="{% static 'appADM/assets/img/noimagen.png' %}"
														alt="Imagen Plato">
												</a>
												{% endif %}
												<a href="#">{{servicio.1}}</a>
											</h2>
										</td>
										{% if servicio.3 == 0 %}
										<td class="text-center text-success">GRATIS</td>
										{% else %}
										<td class="text-center">${{servicio.3}}</td>
										{% endif %}
										{% if servicio.4 %}
										<td class="text-center">
											<span class="badge badge-pill bg-success-light inv-badge">Sí</span>
										</td>
										{% else %}
										<td class="text-center">
											<span class="badge badge-pill bg-danger-light inv-badge">No</span>
										</td>
										{% endif %}
										{% if servicio.6 %}
										<td class="text-center">
											<span class="badge badge-pill bg-success inv-badge">Activo</span>
										</td>
										{% else %}
										<td class="text-center">
											<span class="badge badge-pill bg-danger inv-badge">Inactivo</span>
										</td>
										{% endif %}
										<td class="text-center">
											<div class="actions">
												<a class="btn btn-sm bg-success-light"
													href="{% url 'edit-servicio'   servicio.0%}">
													<i class="fa fa-pencil"></i> Editar
												</a>
												{% if servicio.6 %}
												<a href="#" onClick="eliminar({{ servicio.0 }})"
													class="btn btn-sm bg-danger-light">
													<i class="fa fa-trash"></i> Eliminar
												</a>
												{% endif %}
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Page Wrapper -->



{% block js %}
{% for message in messages %}
{% if message.tags  == 'error'%}
<script>
	Swal.fire({
		title: "Error en Validación",
		text: "{{message}}",
		icon: "error",
		timer: 5000,
		timerProgressBar: true
	})
</script>
{% else %}
<script>
	Swal.fire({
		title: "Gestión de Servicios Adicionales",
		text: "{{message}}",
		icon: "success",
		timer: 5000,
		timerProgressBar: true
	})
</script>
{% endif %}
{% endfor %}
<script>
	function eliminar(id) {
		Swal.fire({
				"title": "¿Estás seguro de esta acción?",
				"text": "Esta acción no se puede deshacer",
				"icon": "question",
				"showCancelButton": true,
				"confirmButtonText": "Si, Eliminar",
				"cancelButtonText": "No, Cancelar",
				"reverseButtons": true,
				"confirmButtonColor": "#d44747"
			})
			.then(function (result) {
				if (result.isConfirmed) {
					window.location.href = "/dashboard/eliminar-servicio/" + id + "/"
				}
			})
	}
</script>
{% endblock %}
{% if messages %}
<div>
    {% for message in messages %}
	{% if message.tags  == 'error'%}
        <script>
            Swal.fire({
                title: "Error en Validación",
                text: "{{message}}",
                icon: "error",
				timer: 5000,
                timerProgressBar: true
            })
        </script>
	{% else %}
	<script>
		Swal.fire({
			title: "Gestión Servicios Adicionales",
                text: "{{message}}",
                icon: "success",
				timer: 5000,
                timerProgressBar: true
		})
	</script>
	{% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}