{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock%}
{% block contenido-panel %}
{% load humanize %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">¡Bienvenido <strong>@{{user.first_name}} {{user.last_name}}</strong>!</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Panel Administrativo</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-primary border-primary">
								<i class="fa fa-users"></i>
							</span>
							<div class="dash-count">
								<h3>{{usuarios.0.0}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Usuarios en Sistemas</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-success">
								<i class="fa fa-money"></i>

							</span>
							<div class="dash-count">
								<h3>${{ingresos|intcomma}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Ingresos Totales <br></h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-success w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-danger border-danger">
								<i class="fa fa-handshake-o"></i>
							</span>
							<div class="dash-count">
								<h3>{{clientes.0.0}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Clientes Registrados</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-danger w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-warning border-warning">
								<i class="fe fe-building"></i>
							</span>
							<div class="dash-count">
								<h3>{{hab_disponible.0.0}} de {{hab_total.0.0}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Habitaciones Disponibles</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-warning w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		
		<div class="row">
			<div class="col-md-6 d-flex">

				<!-- Feed Activity -->
				<div class="card  card-table flex-fill">
					<div class="card-header">
						<br>
						<h4 class="card-title text-center">Últimos Clientes Registrados</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-center mb-0">
								<thead>
									<tr>
										<th>Razón Social</th>
										<th>Fecha Registro</th>
									</tr>
								</thead>
								<tbody>
									{% if clientes_new%}
									{% for cliente_new in clientes_new %}
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="{% url 'edit-cliente' cliente_new.0 %}" class="avatar avatar-sm mr-2"><img
														class="avatar-img rounded-circle"
														src="{% static 'appADM/assets/img/doctors/doctor-thumb-01.jpg' %}"
														alt="Imagen Usuario"></a>
												<a href="{% url 'edit-cliente' cliente_new.0 %}">{{cliente_new.1}}</a>
											</h2>
										</td>
										<td>{{cliente_new.2}}</td>
									</tr>	
									{% endfor %}		
									{% else %}
									<tr>
										<td colspan="2" class=" text-center" style="height: 100%; width: 100%;">
												<a class=" text-danger" style="font-weight: bold;">Sin Información </a>
										</td>
										<td>{{empleado_new.2}}</td>
									</tr>	
									{% endif %}								
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Feed Activity -->
			</div>
			<div class="col-md-6 d-flex">
				<!-- Feed Activity -->
				<div class="card  card-table flex-fill">
					<div class="card-header">
						<br>
						<h4 class="card-title text-center">Últimas conexiones Empleados</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-center mb-0">
								<thead>
									<tr>
										<th>Nombre Empleado</th>
										<th>Fecha Último Ingreso</th>
									</tr>
								</thead>
								<tbody>
									{% if empleados_new %}
									{% for empleado_new in empleados_new %}
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="{% url 'edit-empleado' empleado_new.0 %}" class="avatar avatar-sm mr-2"><img
														class="avatar-img rounded-circle"
														src="{% static 'appADM/assets/img/doctors/doctor-thumb-01.jpg' %}"
														alt="Imagen Usuario"></a>
												<a href="{% url 'edit-empleado' empleado_new.0 %}">{{empleado_new.1}}</a>
											</h2>
										</td>
										<td>{{empleado_new.2}}</td>
									</tr>										
									{% endfor %}		
									{% else %}
									<tr>
										<td colspan="2" class=" text-center">
												<a class=" text-danger" style="font-weight: bold;">Sin Información </a>
										</td>
										<td>{{empleado_new.2}}</td>
									</tr>	
									{% endif %}	
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Feed Activity -->
			</div>			
		</div>
		<br>
		{% comment %}
		<div class="row">
			<div class="col-md-12 col-lg-6">

				<!-- Sales Chart -->
				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Ingresos<strong class="text-danger"> SIN PROGRAMAR</strong></h4>
					</div>
					<div class="card-body">
						<div id="morrisArea"></div>
					</div>
				</div>
				<!-- /Sales Chart -->

			</div>
			<div class="col-md-12 col-lg-6">

				<!-- Invoice Chart -->
				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Reserva de Habitaciones<strong class="text-danger"> SIN PROGRAMAR</strong></h4>
					</div>
					<div class="card-body">
						<div id="morrisLine"></div>
					</div>
				</div>
				<!-- /Invoice Chart -->
			</div>
		</div>
		{% endcomment %}
		<br>
		<div class="row">
			<div class="col-md-12">
				<!-- Recent Orders -->
				<div class="card">
					<div class="card-header"><br>
						<h4 class="card-title">Listado de Reservas Pendientes</h4>
					</div>
					<div class="card-body">						
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th class="text-center">N° Reserva</th>
										<th class="text-center" data-toggle="tooltip" data-placement="top" title="Orden de Compra" >O.C</th>
										<th>Empresa</th>
										<th class="text-center">Rut</th>
										<th>Nombre</th>
										<th class="text-center">Tipo Comedor</th>
										<th class="text-center">Habitación</th>
										<th class="text-center">Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for reserva in reservas %}
									<tr>
										<td class="text-center">{{reserva.0}}</td>
										<td class="text-center"  data-toggle="tooltip" data-placement="top" title="Orden de Compra" >{{reserva.1}}</td>
										<td>{{reserva.2}}</td>
										<td >{{reserva.3|intcomma}}-{{reserva.11}}</td>
										<td>{{reserva.4}}</td>
										<td class="text-center">{{reserva.5}}</td>
										<td class="text-center">{{reserva.7}} - N° {{reserva.6}}</td>
										<td class="text-center">
											<div class="actions">
												<a class="btn btn2 btn-sm bg-info" data-toggle="modal"
													href="#Add_Specialities_details{{reserva.0}}">
													<i class="fa fa-eye"></i> Ver
												</a>
												{% if reserva.10 == '0'%}
												<a class="btn btn2 btn-sm bg-success" data-toggle="tooltip" href="{% url 'check-in' reserva.0%}"
													title="Facturar Orden de Compra">
													<i class="fa fa-check"></i> Check-In
												</a>
												{% endif %}
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->

			</div>
		</div>

	</div>
</div>
<!-- /Page Wrapper -->
{% for reserva in reservas %}
<div class="modal fade" id="Add_Specialities_details{{reserva.0}}" aria-hidden="true" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="text-center modal-header">
				{% if reserva.10 == '1'%}
				<h5 class="modal-title text-center">Reserva N°{{reserva.0}} - <strong class="text-primary">Check-In Finalizado</strong> </h5>
				{% else %}
				<h5 class="modal-title text-center">Reserva N°{{reserva.0}} - <strong class="text-warning">Check-In Pendiente</strong> </h5>
				{% endif %}
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row form-row">
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>N° Ord. Compra</label>
								<input type="text" class="form-control" placeholder="N° Orden Compra" value="{{reserva.1}}" disabled>
							</div>
						</div>
						<div class="col-12 col-sm-8">
							<div class="form-group">
								<label>Razón Social</label>
								<input type="text" class="form-control" placeholder="Razón social"  value="{{reserva.2}}" disabled>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Rut Huésped</label>
								<input type="text" class="form-control" placeholder="N° Orden Compra" value="{{reserva.3|intcomma}}" disabled>
							</div>
						</div>
						<div class="col-12 col-sm-8">
							<div class="form-group">
								<label>Nombre Huésped</label>
								<input type="text" class="form-control" placeholder="Razón social"  value="{{reserva.4}}" disabled>
							</div>
						</div>						
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>Inicio Estadia</label>
								<input type="date" class="form-control"disabled value="{{reserva.8|date:'Y-m-d'}}">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>Fin de Estadia</label>
								<input type="date" class="form-control" disabled value="{{reserva.9|date:'Y-m-d'}}">
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Tipo Comedor</label>
								<input type="text" class="form-control" placeholder="Cantidad de Huespedes" value="{{reserva.5}}" disabled>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Plato</label>
								<input type="text" class="form-control" placeholder="Monto Total" value="{{reserva.11}}" disabled>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label>Habitación</label>
								<input type="text" class="form-control" placeholder="Monto Total" value="{{reserva.7}} - N° {{reserva.6}}" disabled>
							</div>
						</div>
					</div>
				</form>
				<hr>
			</div>
		</div>
	</div>
</div>
{%endfor%}
<!-- /ADD Modal -->
{% endblock %}
{% block js %}
<script src="{% static 'appADM/assets/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'appADM/assets/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'appADM/assets/js/chart.morris.js' %}"></script>

{% endblock %}