{% extends 'appADM/base.html' %}
{% load static %}
{% block title %}Edición de Cliente{% endblock%}
{% block contenido-panel %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title"><i class="fa fa-edit"></i> Edición de Cliente</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
						<li class="breadcrumb-item"><a href="{% url 'clientes-list' %}">Clientes</a></li>
						<li class="breadcrumb-item active">Edición de Cliente</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-12">
				<!-- General -->
				<div class="card">
					<div class="card-header text-center">
						<hr>
						<h4 class="card-title">Información de Cliente</h4>
						<h6 class="alert alert-info"><i class="fa fa-info-circle"></i> <strong>ATENCIÓN:</strong> Campos Obligatorios se identifican con <strong class="text-danger">*</strong></h6>
					</div>
					<div class="card-body">
						<form action="#" method="POST" name="form1" id="form1" onSubmit="javascript:return Rut(document.form1.rut.value)" >

							{% csrf_token %}

							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>Usuario <strong class="text-danger">*</strong></label>
										<input type="text" class="form-control" name="username"
											placeholder="Ingrese Usuario de Proveedor" value="{{ usuario.username }}" disabled>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Rut Empresa <strong class="text-danger">*</strong></label>
										<input type="text" class="form-control" name="rut" id="rut"
											placeholder="Ingrese Rut de Cliente" value="{{ cliente.rut_empresa }}-{{ cliente.dv }}">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Nombre Fantasia</label>
										<input type="text" class="form-control" name="nom_fantasia" id="nom_fantasia"
											placeholder="Ingrese Nombre Fantasía Cliente" value="{{ cliente.nombre_comercial }}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label>Razón Social <strong class="text-danger">*</strong></label>
										<input type="text" class="form-control" name="r_social" id="r_social"
											placeholder="Ingrese Razón Social Cliente" value="{{ cliente.razon_social }}">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Estado <strong class="text-danger">*</strong></label>
										<select name="emp-sel" id="" class="form-control cb-single">
											{% if cliente.estatus == '1' %}
											<option value="1" selected>Activo (Actual)</option>
											<option value="0">Inactivo</option>
											{% else %}
											<option value="1">Activo</option>
											<option value="0" selected>Inactivo (Actual)</option>
											{% endif %}
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label>Email Contacto <strong class="text-danger">*</strong></label>
										<input type="email" class="form-control" name="email" id="email"
											placeholder="Ingrese Correo electrónico" value="{{ usuario.email }}">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Teléfono Contacto </label>
										<input type="number" class="form-control" name="fono" id="fono"
											placeholder="Ingrese Número Contacto" value="{{ cliente.celular }}">
									</div>
								</div>

							</div>

							<hr>
							<h5 class="card-title text-center">Información Adicional <br><button type="button" class="btn btn2 btn-info " data-toggle="popover" data-placement="top" title="¿Porqué la Región está Bloqueada?" data-content="La Región se Asigna Automáticamente al Seleccionar La Comuna y se ve reflejada al Guardar"><i class="fa fa-info-circle"></i></button></h5>
							<hr>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Región de Residencia <strong class="text-danger">*</strong></label>
										<select name="reg_sel" id="reg_sel" class="cb-single form-control" disabled>
											<option value="" selecte>Seleccionar Región...</option>
											{% for r in regiones %}
												{% if region is not None and region.2 == r.2 %}
												<option value="{{ r.0 }}" selected>{{ r.2 }}</option>
												{% else %}
												<option value="{{ r.0 }}">{{ r.2 }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Comuna de Residencia <strong class="text-danger">*</strong></label>
										<select name="com_sel" id="com_sel" class="cb-single form-control">
											<option value="" selecte>Seleccionar Comuna...</option>
											{% for c in comunas %}
												{% if comuna is not None and comuna.1 == c.1 %}
												<option value="{{ c.0 }}" selected>{{ c.1 }}</option>
												{% else %}
												<option value="{{ c.0 }}">{{ c.1 }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Dirección <strong class="text-danger">*</strong></label>
										<input type="text" name="direccion" class="form-control" id="direccion"
											placeholder="Ingrese Dirección" value="{{ cliente.direccion }}">
									</div>
								</div>

							</div>
							<hr>
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-2">
									<div class="form-group mb-0">
										<a class="btn btn2 btn-danger btn-block text-center"
											href="{% url 'clientes-list' %}"><i class="fa fa-reply"></i> Volver</a>
									</div>
								</div>
								&nbsp;
								<div class="col-md-2">
									<div class="form-group mb-0">
										<button class="btn btn2 btn-info btn-block text-center"
											type="submit"><i class="fa fa-edit"></i> Modificar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /General -->
			</div>
		</div>
		<br>
	</div>
</div>
<!-- /Page Wrapper -->

{% block js %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
	$(document).ready(function () {
		$('.cb-single').select2();
	});
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script src="{% static 'appADM/assets/js/traslate.js' %}"></script>
<script src="{% static 'appADM/assets/js/valida-cliente.js' %}"></script>
{% endblock %}
{% endblock %}